* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* ===== HERO SECTION ===== */
.hero {
    position: relative;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 85vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Search */
.hero-search {
    max-width: 900px;
}

#placeholder::placeholder {
    color: #f6b095;
}

/* Controls */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    z-index: 3;
}