*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: aqua;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    position: sticky;
    top:0;

}
#Links{
    display:flex ;
    gap: 10px;
}
#helpButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background-color: red;
}