* {
  margin: 0;
  padding: 0;
}
#Navbar {
  background-color: rgb(32, 214, 90);
  display: flex;
  justify-content: space-between;
  color: rgb(249, 19, 134);
  padding: 8px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.NavLinks {
  display: flex;
  gap: 20px;
  align-items: center;

  span,
  p,
  button {
    cursor: pointer;
  }

  button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: blue;
    color: white;
  }
}

div {
  border: 1px solid #000;
}

#outerDiv {
  display: flex;
}

#leftPart {
  height: fit-content;
  width: 70%;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}

#rightPart {
    background:white;
  height: 85vh;
  padding: 20px;
  width: 30%;
  display: grid;

  #part{
    background-color: green
  }

  ol {
    padding: 0 30px;
  }
}
#rightrightPart{
    background-color: orange;

}

@media screen and (max-width: 1024px) {
  #leftPart {
    grid-template-columns: auto auto auto;
  }
  #rightPart{
    grid-template-rows: auto auto;
    
  }
}
@media screen and (max-width: 760px) {
  #leftPart {
    grid-template-columns: auto auto;
  }
  #leftPart{
    background:greenyellow;
  }
}
@media screen and (max-width: 420px) {
  #leftPart {
    grid-template-columns: auto;
  }
  #rightPart {
    background:lightblue;
  }

}