:root{

  --background--color:rgb(255, 170, 12);
  --text--color:yellow;
  --color--:rgb(29, 255, 44);
}
header{
    background-color:var(--background--color);
   
    border: 5px solid black;
    border-radius: 5px;
    color: var(--color--);
}



#a1{
    color:var(--text--color);
   
}
.a2{
    color: var(--text--color);
    
}
.a3{
    color: var(--text--color);

}

.a4{
    color :var(--color--);
}

main h3{
    color:black;
}
.q1{
  color:var(--color--);
  background-color:var(--background--color);
}
.q6{
  
  background-color:lightblue;
}
.q2{
 color:var(--color--);
  background-color: var(--background--color);
}
.q3{
  color:var(--color--);
  background-color: var(--background--color);
}
.q4{
   color:var(--color--);
  background-color: var(--background--color);
}
.q5{
   color:var(--color--);
  background-color: var(--background--color);
}
.q7{
     color:var(--color--);
  background-color: var(--background--color);
}
.q8{
     color:var(--color--);
  background-color:var(--background--color);
}
#c1{
    background-color: var(--background--color);
}
